trigger:
 - main

pool:
  vmImage: 'Ubuntu 20.04'
# Set MyRunNumber
variables: 
  MyRunNumber: '1.0.0-CIDKSITV-$(Build.BuildNumber)'
stages:
- stage: Build
  jobs:
  - job: FirstJob
    steps: 
      - bash: echo Build FirstJob
      - bash: echo $(firstJobVariable)
      - bash: echo "MyRunNumber:"$(MyRunNumber)
      - bash: echo $(Build.SourceBranchName) 
      - bash: echo $(Build.SourcesDirectory) 
      - bash: echo $(System.DefaultWorkingDirectory) 
      - bash: echo $(Build.ArtifactStagingDirectory) 
      - bash: echo "Build.DefinitionName" $(Build.DefinitionName) 
      - task: CopyFiles@2
        inputs:
          SourceFolder: '$(System.DefaultWorkingDirectory)'
          Contents: |
            **/*.yml
            **/*.tf
          TargetFolder: '$(Build.ArtifactStagingDirectory)'
      - bash: ls -R $(Build.ArtifactStagingDirectory)
      
      - task: SonarQubePublish@4
        inputs:
          pollingTimeoutSec: '300'

      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'
  # - job: SecondJob
  #   steps:
  #     - bash: echo Build SecondJob