trigger:
 - main
 - releases/*
 
pool:
  vmImage: 'Ubuntu 20.04'
# Set MyRunNumber
variables: 
  MyRunNumber: '1.0.0-CIDKSITV-$(Build.BuildNumber)'
  SonarProjectKey: 'infotechvedasindia_udemydevopscoursetestproject'

stages:
- stage: Build
  jobs:
  - job: FirstJob
    steps: 
      - bash: echo Build FirstJob
      - bash: echo $(firstJobVariable)
      - bash: echo "MyRunNumber:"$(MyRunNumber)
      # - bash: echo $(Build.SourceBranchName) 
      # - bash: echo $(Build.SourcesDirectory) 
      # - bash: echo $(System.DefaultWorkingDirectory) 
      # - bash: echo $(Build.ArtifactStagingDirectory) 
      # - bash: echo "Build.DefinitionName" $(Build.DefinitionName) 
      - task: CopyFiles@2
        inputs:
          SourceFolder: '$(System.DefaultWorkingDirectory)'
          Contents: |
            **/*.yml
            **/*.tf
          TargetFolder: '$(Build.ArtifactStagingDirectory)'
      - bash: ls -R $(Build.ArtifactStagingDirectory)
      
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: 'SonarClaudTokenServiceConnection'
          organization: 'infotechvedasindia'
          scannerMode: 'CLI'
          configMode: manual
          cliProjectKey: udemydevopscoursetestproject
          extraProperties: |
           sonar.projectKey=infotechvedasindia_udemydevopscoursetestproject
           sonar.projectName=udemydevopscoursetestproject
           sonar.sources=.
           sonar.exclusions=**/*_test.go
           sonar.tests=.

          #sonar.inclusions=**/*.go
    
      - task: SonarCloudAnalyze@1

      - task: SonarCloudPublish@1
        inputs:
          pollingTimeoutSec: '300'
    
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'
     
    condition: eq(eq($(Env), 'qa')
    steps: 
    - bash: echo "I am in QA MyRunNumber:"$(MyRunNumber)
  # - job: SecondJob
  #   steps:
  #     - bash: echo Build SecondJob