trigger:
 - main

pool:
  vmImage: 'Ubuntu 20.04'

jobs:
  - job: job1
    steps:
      - script: echo Hello, World new changed!
        displayName: 'Run a one-line script'

      - script: |
          echo Add task to buid
          echo Add task to test 
          echo Add task to deploy to server 1
          echo Add task to deploy to server 2
          echo Add task to deploy to server 3
        displayName: 'Run a multi-line script'

    

