trigger:
 - main

pool:
  vmImage: 'Ubuntu 20.04'

stages:
- stage: Build
  jobs:
  - job: FirstJob
    steps:
      - bash: echo Build FirstJob
      - bash: echo $(firstJobVariable)
  - job: SecondJob
    steps:
      - bash: echo Build SecondJob

- stage: DevDeploy
  variables:
   environment: DevEnvValue
  dependsOn: Build
  jobs:
    - job: DevDeployJob
      steps:
        - bash: echo $(environment)DeployJob 
- stage: QADeploy
  dependsOn: 
    - Build
    - DevDeploy
  jobs:
    - job: QADeployJob
      steps:
        - bash: echo QADeployJob 
- stage: ProdDeploy
  dependsOn: 
    - Build
    - DevDeploy
    - QADeploy
  jobs:
    - job: ProdDeployJob
      steps:
        - bash: echo ProdDeployJobChanges 
